<!doctype html>
<html ng-app="bookmarksApp">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js" defer></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js" defer></script>
    <script type="text/javascript" src="app/app.js" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="scss/app.css">
    <link rel="icon" href="assets/favicon.ico" type="image/x-icon" />
</head>
<body ng-controller="BookmarksController">
<h1>Bookmarking App</h1>
<div>
    <form ng-submit="addBookmark()">
        <p>
            <label>Bookmark URL</label> <br />
            <input type="text" ng-model="url" placeholder="Enter bookmark URL" pattern=".{2,}" required title="2 characters minimum">
        </p>
        <p>
            <label>Bookmark Title</label> <br />
            <input type="text" ng-model="title" placeholder="Enter bookmark title" pattern=".{2,}" required title="2 characters minimum">
        </p>
        <p>
            <label>Tags: (separated by commas)</label> <br />
            <input type="text" ng-model="tags" placeholder="Enter bookmark tags" pattern=".{2,}" required title="2 characters minimum">
        </p>
        <p>
            <input class="btn-success" type="submit" value="Save">
            <input class="btn-default" type="button" value="Clear" ng-click="formClear()">
        </p>
    </form>

    <div class="bookmarks-list">
        <h3>Filtered by Tag: {{routeParams.filterTag ? routeParams.filterTag : "None"}} | <a href="#">Clear Filter</a></h3>
        <ul>
            <li ng-repeat="bookmark in bookmarks | filter:{tags:routeParams.filterTag}:true">
                <input class="btn-warning" type="submit" value="Edit" ng-click="edit(bookmark)"/>
                <input class="btn-danger" type="submit" value="Delete" ng-click="delete(bookmark)" />
                {{bookmark.title}}({{bookmark.url}}) | {{bookmark.tags.toString()}}
            </li>
        </ul>
    </div>

    <div class="tags-list">
        <h4>Bookmark's Tags</h4>
        <ul>
            <li ng-repeat="tag in getAllTags()"><a href="#/filter/{{tag}}">{{tag}}</a></li>
        </ul>
    </div>

    <div ng-view><!-- This div is needed for routing to work --></div>
</div>
</body>
</html>
